<h1>Dashboard Cryptos</h1>

<%= turbo_stream_from "crypto" %>

<%= form_with url: search_cryptocurrencies_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search name by crypto:" %>
  <%= text_field_tag :query, params[:query], placeholder: "Ej: ethereum, bitcoin" %>
  <%= form.submit "Buscar" %>
<% end %>

<% if @error_message %>
  <p style="color: red;"><%= @error_message %></p>
<% else %>
  <!-- Botón para seleccionar una cripto aleatoria -->
  <%= form_with url: cryptocurrencies_path, method: :post do %>
    <%= hidden_field_tag :crypto_data, @crypto_data.to_json %>
    <%= submit_tag 'like' %>
  <% end %>

  <p>
    <%= link_to "🔼 Ordenar de Low to High", low_to_high_cryptocurrencies_path %> |
    <%= link_to "🔽 Ordenar de High to Low", high_to_low_cryptocurrencies_path %>
  </p>

  <!-- Tabla para mostrar las criptomonedas -->
  <table border="1">
    <thead>
      <tr>
        <th>Criptomoneda</th>
        <th>Precio (USD)</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <% if @cryptos.any? %>
        <% @cryptos.each do |crypto| %>
          <%= turbo_frame_tag "crypto_#{crypto.id}" do %>
            <%= render partial: 'cryptocurrencies/crypto_row', locals: { crypto: crypto } %>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No cryptos available</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
